<footer>
    <div class="container">
        <div class="footer-column">
            <h3>À propos de nous</h3>
            <ul>
                <li><a href="#">Sushimi</a></li>
                <li><a href="#">Savoir faire</a></li>
                <li><a href="#">Nos engagements</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Livraison</h3>
            <ul>
                <li><a href="#">Suivi de commande</a></li>
                <li><a href="#">Offre étudiante</a></li>
                <li><a href="#">Retrait en restaurant</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contact</h3>
            <ul>
                <li>+33 7 85 43 61 25</li>
                <li>14 Rue de Marché, 75010</li>
                <li><a href="mailto:sushimi&#64;contact-service.fr">sushimi&#64;contact-service.fr</a></li>
            </ul>
        </div>
    </div>
</footer>