<nav class="navbar">
    <div class="navbar-logo">
        <a routerLink="/"><img src="assets/images/logo.png" alt="Sushimi Logo"></a>
    </div>

    <ul class="navbar-menu">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/menu">Les boxes</a></li>
        <li><a routerLink="/team">L’équipe</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <div class="navbar-icons">
        <img src="assets/images/panier.png" alt="Panier" />
    </div>
</nav>

<div class="container">
    <div class="breadcrumb">
        Accueil - <span class="current">À propos de nous</span>
    </div>

    <h1>Conditions d’utilisation général</h1>

    <p class="intro">
        Sushimi accorde une grande importance à la protection de vos données personnelles.<br>
        Cette page a pour but d’expliquer simplement comment vos informations sont<br>
        collectées, utilisées et protégées.
    </p>

    <section>
        <h2>1. Données collectées</h2>
        <p>
            Lorsque vous utilisez l’application, certaines informations sont nécessaires pour le bon<br>
            fonctionnement du service. Nous collectons uniquement ce qui est essentiel, comme<br>
            votre nom, votre adresse e-mail, votre mot de passe et les informations liées à vos<br>
            commandes (produits choisis, montant total, date de commande). Aucune donnée<br>
            bancaire n’est enregistrée sur nos serveurs.
        </p>
    </section>

    <section>
        <h2>2. Utilisation de données</h2>
        <p>
            Les données collectées sont utilisées uniquement pour gérer vos commandes, vous<br>
            permettre de vous connecter à votre compte et assurer le suivi de vos achats. Elles ne<br>
            sont jamais revendues ni partagées avec d’autres entreprises. Leur usage reste<br>
            strictement limité au fonctionnement de l’application.
        </p>
    </section>

    <section>
        <h2>3. Conservation et sécurité</h2>
        <p>
            Vos données sont conservées uniquement pendant la durée nécessaire au traitement<br>
            de vos commandes.<br>
            Elles sont ensuite supprimées de manière sécurisée.<br>
            Des mesures sont mises en place pour protéger vos informations contre tout accès<br>
            non autorisé.
        </p>
    </section>

    <section>
        <h2>4. Vos droits</h2>
        <p>
            Conformément au Règlement Général sur la Protection des Données (RGPD), vous<br>
            pouvez à tout moment accéder à vos informations, les modifier ou demander leur<br>
            suppression.<br>
            Pour toute demande concernant vos données personnelles, vous pouvez nous<br>
            contacter à l’adresse suivante : sushimi&#64;contact-service.fr.
        </p>
    </section>

    <section>
        <h2>5. Cookies</h2>
        <p>
            L’application utilise uniquement des cookies nécessaires à son bon<br>
            fonctionnement, notamment pour la gestion du panier et de la session utilisateur.<br>
            Aucun cookie publicitaire n’est utilisé.
        </p>
    </section>

    <section>
        <h2>6. Mise à jour</h2>
        <p>
            Cette politique de confidentialité peut être modifiée en cas d’évolution du service.<br>
            En utilisant notre application, vous acceptez cette politique de confidentialité.<br>
            Dernier mise à jour : 31 octobre 2025
        </p>
    </section>
</div>